#buttonA {
    background-color: #FF5733;
    color: white;
    font-weight: bold
}

#title {
   color: white;
   line-height: 40px;
   font-weight: 900;
   font-family: Segoe UI;
   text-shadow: 1px 1px 1px grey
}